In [1]:
import pandas as pd
import seaborn as sns
from matplotlib.ticker import PercentFormatter
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load the CSV into a DataFrame
synergy_l_data = pd.read_csv("synergy_logistics_database.csv")

In [3]:
unique_routes = synergy_l_data[['origin','destination']].drop_duplicates()
revenue_per_route = {'total_revenue': [], 'frequency': [], 'avrg_value_per_travel': []}
for origin, destination in unique_routes.values:
    df_of_routes = synergy_l_data[(synergy_l_data['origin'] == origin) &  (synergy_l_data['destination'] == destination)]
    total_value = df_of_routes['total_value'].sum()
    frequency = df_of_routes.shape[0]
    revenue_per_route['total_revenue'].append(total_value)
    revenue_per_route['frequency'].append(frequency)
    revenue_per_route['avrg_value_per_travel'].append(total_value / frequency)

In [4]:
unique_routes['total_revenue'] = revenue_per_route['total_revenue']
unique_routes['frequency'] = revenue_per_route['frequency']
unique_routes['avrg_value_per_travel'] = revenue_per_route['avrg_value_per_travel']

In [5]:
# unique_routes.sort_values(by='frequency', ascending=False)['avrg_value_per_travel'].apply((lambda x: '${:,.2f}k'.format(x/1000))).to_frame()
unique_routes.sort_values(by='avrg_value_per_travel', ascending=False).head(10).style.format({
    'avrg_value_per_travel': '{:,.2f}k'
}).hide_index()